name: Scanner Workflow

on:
  workflow_dispatch:
  push:
    branches: 
     - master
     
jobs:
  scan_routine:
    name: Scanner Routine
    runs-on: ubuntu-latest
    
    steps:
    # Runs a single command using the runners shell
    - name: Clone the repository
      uses: actions/checkout@v3
      
    - name: Scan Files in a Folder
      uses: alexavil/folder-scanner@c56911a4234a02dccfede0220b7273201c6f90e0
      with:
          folder: .
          commit_message: Compile asset file list
      