name: Scanner Workflow

on:
  workflow_dispatch:
  push:
    branches: 
     - master
     
jobs:
  scan_routine:
    name: Scanner Routine
    runs-on: ubuntu-latest
    
    steps:
    # Runs a single command using the runners shell
    - name: Clone the repository
      uses: actions/checkout@v3
      
    - name: Scan Files in a Folder
      uses: alexavil/folder-scanner@1058ce73f62245eb40c03d3674ad34c9792f43f2
      with:
          folder: .
          commit_message: Compile asset file list
      